<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>模拟回复</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" crossorigin="anonymous"></script>
    <style>
        #left, #right {
            width: 45%;
            min-height: 400px;
            padding: 1rem;
            border: 1px solid #323436;
            display: inline-block;
            vertical-align: top;
        }
        #input {
            width: 100%;
            padding: 5px;
            margin-top: 10px;
        }
        #send {
            display: block;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <input id="input" type="text" placeholder="请输入文字">
    <button id="send">发送</button>
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        function sendInput() {
            const input = $('#input').val();
            console.log('输入内容:', input);
            console.log('后端网址:', 'http://' + document.domain + ':' + location.port);
            socket.emit('input', { input: input });
        }

        socket.on('response', function(data) {
            $('#left').html($('#right').html());
            $('#right').html(data.response);
            $('#input').val('');
        });

        $(document).ready(function() {
            $('#send').on('click', function() {
                sendInput();
            });
        });
    </script>
</body>
</html>
